Pandas merupakan salah satu package yang sangat membantu kita dalam pengolahan data dengan bahasa python. Hal ini karena pada menyediakan fitur dataframe. Dengan dataframe, kita bisa menjadikan file terbaca menjadi sebuah tabel. File yang didukung seperti .txt, .csv, .tsv dan lainnya.

# Mengimpor Pandas

In [3]:
import pandas as pd

# Import.txt

siapkan dahulu file txt (dengan jarak antar data misal menggunakan tab) di folder yang sama dengan program

In [4]:
data1=pd.read_csv("data.txt")
print(data1)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [8]:
data2=pd.read_csv("data.txt", delimiter="\t")
print(data2)

   A  B
0  1  2
1  4  3
2  4  2

# Import.csv

siapkan dahulu file csv di folder yang sama dengan program

In [9]:
data3=pd.read_csv("data.txt")
print(data3)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [10]:
data4=pd.read_csv("data.txt", delimiter="\s+")
print(data4)

   A  B
0  1  2
1  4  3
2  4  2

# Import.xlsx

siapkan dahulu file xlsx di folder yang sama dengan program

In [11]:
data5=pd.read_excel('data.xlsx')
print(data5)

   A  B
0  1  2
1  4  3
2  4  2

# import.xls

siapkan dahulu file xls di folder yang sama dengan program

In [12]:
data6=pd.read_excel('data.xls')
print(data6)

   A  B
0  1  2
1  4  3
2  4  2

# Melihat Tabel

In [13]:
#semua
data2

   A  B
0  1  2
1  4  3
2  4  2

In [14]:
#sebagian yang diatas (karena datanya sedikit maka yang tampil semua, silahkan coba dengan data yang lebih banyak lagi sendiri)
data2.head()

   A  B
0  1  2
1  4  3
2  4  2

# Membuat Dataframe Sendiri

In [15]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
data=[1,2,3,4,5]
df1=pd.DataFrame(data)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
data = [['Abdul Muiz',24],['fahimul Asyar',32],['Aam Alfain',45]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

            Nama  Usia
0     Abdul Muiz    24
1  fahimul Asyar    32
2     Aam Alfain    45